@import "_settings";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

#kanban-board {
  border: 1px solid black;
}

button#delete_ticket {
  width: 15px;
  height: 15px;
}