@import "_settings";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

// ============== Kanban Dashboard Styles =================

#kanban-board {
  border: 1px solid black;
}

// ============== Kanban Ticket Area Styles =================
#ticket-container {
  // border: 2px solid black;
}

.column-container {
  text-align: center;
}

button#delete_ticket {
  // width: 15px;
  // height: 15px;
}

h1 {
  text-align: center;
}

// ============== Ticket Styles =================

.ticket {
  border : 1px solid black;

  #title {
    text-align: center;

  }

  #description {

  }

  #updatesTextbox {
    height: 50px;
    width: 50px;

  }

  #updatesButton {

  }

  #user {

  }
}