<!-- Template of a ticket that is appended to the kanban html -->
<template name='ticketItem'>

  <!--   This row displays the title with state buttons -->
  <div class="row">

    <!-- The lessThan button is displayed on the left of the title bar taking up 3 space -->
    <div class="large-3 medium-3 columns">
      <button id="lessThan"> &lt; </button>
    </div>

    <!-- The area is for the title bar taking up 6 space -->
    <div class="large-6 medium-6 columns">
      <div id="title" class="ticket">{{title}}</div>
    </div>

    <!-- The greaterThan button is displayed on the right of the title bar taking up 3 space -->
    <div class="large-3 medium-3 columns">

      <button id="greaterThan"> &gt; </button>
    </div>
  </div>

  <!-- This row displays the description -->
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div id="description" class="ticket">{{description}}</div>
    </div>
  </div>

<!-- This row will display updates from our database -->
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div id="updates" class="ticket">
        <ul class="updatesList">
           {{#each updates}}
           <li>Update {{inc @index}}: {{this}}</li>
           {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <!-- This row displays the updatesTextbox -->
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div class="ticket">
        <textarea class="textArea" id='{{this._id}}' cols='30' rows='20' WRAP=SOFT></textarea>
      </div>
    </div>
  </div>

  <!--   This row displays the updatesButtons -->
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div id="updatesButton" class="ticket">
        <button id="this._id">Update</button>
      </div>
    </div>
  </div>

  <!-- This row displays the user and delete button -->
  <div class="row">
    <div class="large-5 medium-5 columns">
      <div id="user"></div>
    </div>
    <div class="large-1 medium-1 columns">
      <!-- hidden columnId value  -->
      <span hidden>{{columnId}}</span>
    </div>

    <!--   This button triggers triggers the Template.ticketItem.events on newTicket.js -->
    <div class="large-6 medium-6 columns">
      <button id="delete_ticket"> Delete Ticket </button>
    </div>
  </div>
</template>