<template name='ApplicationLayout'>
  {{> yield}}
</template>

<template name='dashboard'>
  <body>
    <header>
      <div class="row">
        <div class="small-6 medium-6 large-6 small-centered columns">
          <h1>Flow - Kanban</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-2 columns">
          <h3>Welcome
            <!-- <button id="profileButton">profile</button> -->
            <a id='profileButton'>{{userWelcome}}</a>
          </h3>
        </div>
        <div class="large-10 columns">
        </div>
      </div>
    </header>
    <div id="kanban-board">
      <!-- This is the Kanban -->
      <div class="row">

          <div class="large-4 columns">

          <!--    This is the To Do section   -->
          <section class="column-container" id="toDo">
              <div class="row">
                <div class="large-6 columns">
                  <h2>To Do</h2>
                </div>
                <div class="large-2 columns">
                  <button id="newTicketButton"><h2>+</h2></button>
                </div>
                <div class="large-4 columns"></div>
              </div>

          <!--  <div id="row">
                <div class="large-12 columns">
                </div>
              </div> -->

              <div id="ticket-container">
              {{#each getToDo}}
                {{ > ticketItem}}
              {{/each}}
              </div>
            </section>
          </div>
          <div class="large-4 columns">
                  <!--    This is the in progress section   -->
          <section class="column-container" id="inProgress">
              <h2>Progress</h2>
              <div>
              {{#each getProgress}}
                {{ > ticketItem}}
              {{/each}}
              </div>
          </section>

          </div>
          <div class="large-4 columns">
                  <!--    This is the done section   -->
          <section class="column-container" id="done">
              <h2>Done</h2>
              <div>
              {{#each getDone}}
                {{ > ticketItem}}
              {{/each}}
              </div>
          </section>
        </div>
        <!--    This is the call to action button   -->
      </div>
    </div>

    <footer class="site-footer">
    &copy; Bryan Butteling, Eleazar Corpuz 2015
    </footer>
    {{initFoundation}}
  </body>
</template>